/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
$font-general: 'Roboto', sans-serif;
$font-title: 'Montserrat', sans-serif;
$font-mobile: 'Poppins', sans-serif;

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.toggler-icon{
    color : #92929D;
}

.nav-logo-name{
    font-family: $font-general;
    font-weight: 700;
    color : #44444F;
    font-size: 22px;
    line-height: 51px;
    letter-spacing: 0.255119px;
    margin: 0;

    .nav-domain{
        color : #440099 !important;
        padding-left: 0;
        margin-left: 0;
    }
}

.notif-badge-container{
    position: relative;
    display: block;
    margin-right: 1rem;

    .notif-icon{
        position: relative;
    }

    .badge-notif{
        position: absolute;
        top: 2px; /* changed */
        right: -1px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: red;
    }
}

.nav-lang{
    font-family: $font-general;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #38057F !important;
}

.nav-profile {
    margin-left: .2rem;

    img {
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }

    .nav-profile-text{
        font-family: $font-general;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        text-align: right;
        color: #1A1725;
    }
    
  }
/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar-fixed {
    height: 100vh;
    width: 270px;
    background-color: #fff;
    padding: 1.5rem;
    padding-top: 88px; 

    .list-group .active {
        -webkit-border-radius: 5px;
        border-radius: 5px; 
    }

    .list-group-item{
        padding: 1rem 1.25rem;
        margin-bottom: -1px;
        border: 1px solid rgba(0, 0, 0, 0);
        .active{
            z-index: 2;
            color: #440099 !important;
            background-color: #F2EEF8 !important;
            border-top-right-radius: 15px !important;
            border-bottom-right-radius: 15px !important;
            border-left: 6px solid #663AAC !important;
        }
    }

    .logo-wrapper {
        padding: 2.5rem; 
        img {
            max-height: 50px; 
        }
    }
}
  
@media (min-width: 1200px) {
    .page-footer, main {
      padding-left: 270px; 
    } 
}

@media (max-width: 1199.98px) {
    .sidebar-fixed {
      display: none; 
    } 
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
ul.inline-badge{
    display: flex;
    list-style: none;
    margin-left: auto;

    .badge-list{
        font-family: $font-general;
        font-weight: 500;
        font-size: 14px;
        color: #fff;
        text-align: center;
        box-shadow: 0px 32px 45.3333px -28px rgba(87, 22, 187, 0.4);
        border-radius: 8px;
        padding: 0.3rem 2rem;
        margin-right: 0.5rem;
    }

    .badge-download-resume{
        background: #FFBC10;
    }

    .badge-reject{
        background: #FC5A5A;
    }

    .badge-interview{
        background: #00BA88;
    }

    .badge-hire{
        background: #440099;
    }
}

.card-style{
    background: #FFFFFF;
    box-shadow: 0px 6.38599px 61.7312px rgba(196, 203, 214, 0.103611);
    border-radius: 25.544px;
    padding: 0.75rem;
    min-height: 100%;
}

.card-summary, .card-profile, .title{
    .title-style{
        font-family: $font-title;
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        color: #181725;
    }
    
    .paragraph{
        font-family: $font-general;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 0.1px;
        color: #92929D;
    }
}

.card-profile{
    .header-profile { 
        display: flex; 
        justify-content: space-between;
    
        .img-profile{
            width: 110px;
        }
    
        .img-icon{
            width: 36px;
            height: 36px;
        }
    }

    .badge-address{
        font-family: $font-general;
        font-weight: normal;
        font-size: 12px;
        color: #7D8592;
        text-align: center;
        box-shadow: 0px 32px 45.3333px -28px rgba(87, 22, 187, 0.4);
        border-radius: 8px;
        padding: 0.3rem 0rem;
        width: 160px;
        background: #EDF2FD;
    }

    .badge-star{
        font-family: $font-general;
        font-weight: 500;
        font-size: 12px;
        color: #fff;
        text-align: center;
        box-shadow: 0px 32px 45.3333px -28px rgba(87, 22, 187, 0.4);
        border-radius: 30px;
        padding: 0.3rem 1rem;
        width: 40%;
        background: #26C0E2;
    }

    .badge-time{
        font-family: $font-general;
        font-weight: 500;
        font-size: 14px;
        color: #030229;
        text-align: center;
        box-shadow: 0px 32px 45.3333px -28px rgba(87, 22, 187, 0.4);
        border-radius: 30px;
        padding: 0.3rem 1rem;
        width: 60%;
        background: #FFD66B;
    }

    .badge-budget{
        font-family: $font-general;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        text-align: center;
        box-shadow: 0px 32px 45.3333px -28px rgba(87, 22, 187, 0.4);
        border-radius: 30px;
        padding: 0.3rem 1rem;
        background: #FF8F6B;
    }
    
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #525CE5;
    border-radius: 50%;
    display: inline-block;
}

.badge-hiring-info{
    font-family: $font-general;
    font-weight: normal;
    font-size: 12px;
    color: #9797C9;
    text-align: center;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    background: #F3F3F5;
}

.card-scrolling{
    height: 260px;
    overflow-y: scroll;
    overflow-x: hidden;
    h6{
        font-family: $font-title;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #440099;
    }

    p{
        font-family: $font-general;;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.1px;
        color: #92929D;
    }

    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #E7E7F4;
        border-radius: 10px;
    }

    &::-webkit-scrollbar
    {
        width: 5px;
        background-color: #E7E7F4;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background-clip: padding-box;
        background-color: #C1A9DE;
    }
}

/*--------------------------------------------------------------
# Main Mobile
--------------------------------------------------------------*/
.card-mob-style{
    background: #FFFFFF;
    box-shadow: 0px 13.1163px 52.4651px rgba(0, 0, 0, 0.08);
    border-radius: 25.544px;
    padding: 0.75rem;
    min-height: 100%;

    .title-mob{
        font-family: $font-mobile;
        font-style: normal;
        font-weight: bold;
        font-size: 17.0512px;
        color: #FA4A0C;
    }

    .content-mob{
        font-family: $font-mobile;
        font-style: normal;
        font-weight: 600;
        font-size: 28.8558px;
        color: #6D6D6D;
    }

    .row-flex-card{
        display: flex; 
        justify-content: space-between;

        .left-side{
            width: 60%;
        }

        .left-side-2{
            width: 40%;
        }

        .right-side{
            width: 40%;
            vertical-align: middle;

            .btn-tambah{
                color: #fff;
                text-transform: capitalize;
                font-weight: 600;
                letter-spacing: 0.9px;
                padding: 0.5rem 1.75rem;
                background: #FA4A0C;
                border-radius: 8px;
            }
        }

        .btn-filter{
            color: #fff;
            text-transform: capitalize;
            font-weight: 500;
            letter-spacing: 0.9px;
            padding: 0.5rem 1.75rem;
            background: #FA4A0C;
            border-radius: 8px;
        }

        .btn-semua{
            color: #fff;
            text-transform: capitalize;
            font-weight: 500;
            letter-spacing: 0.9px;
            padding: 0.5rem 1.75rem;
            background: #05A4DB;
            border-radius: 8px;
        }
    }
}

ul.inline-profile{
    display: -webkit-box;
    list-style: none;
    padding-left: 2rem;

    .li-profile-img{
        margin-right: 1rem;
        float: left;
        width: 30%;
    }

    .li-name{
        width: 50%;
    }

    .li-price{
        float: right;
        width: 40%;
    }

    .subtitle-profile{
        font-family: $font-mobile;
        font-style: normal;
        font-weight: normal;
        font-size: 13.1163px;
        color: #94AFB6;
        margin-bottom: 0;
    }

    .profile-name{
        font-family: $font-mobile;
        font-style: normal;
        font-weight: 500;
        font-size: 15.7395px;
        color: #3D6670;

    }

    .price{
        font-family: $font-mobile;
        font-style: normal;
        font-weight: 500;
        font-size: 15.7395px;
        color: #41BE06;
    }
}

.container-flex-card{
    display: flex;
    flex-wrap: wrap;

  .start-column{
    flex-grow: 1;
    width: 30%;
  }

  .center-column{
    flex-grow: 1;
    width: 40%;
  }

  .end-column{
    flex-grow: 1;
    width: 30%;
    text-align: right;
  }


  .title-column{
    font-family: $font-mobile;
    font-style: normal;
    font-weight: normal;
    font-size: 17.0512px;
    color: #212529;
  }

  .date-column{
    font-family: $font-mobile;
    font-style: normal;
    font-weight: normal;
    font-size: 13.1163px;
    color: #6C757D;
  }
}


