/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.bg-body {
  background-color: #292560;
}

.notif-badge-container {
  position: relative;
  display: block;
  margin-right: 0.5rem;
}

.notif-badge-container .notif-icon {
  position: relative;
}

.notif-badge-container .badge-notif {
  position: absolute;
  top: 2px;
  /* changed */
  right: -1px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: red;
}

.nav-profile {
  margin-left: 0.7rem;
}

.nav-profile img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.nav-profile .nav-profile-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: right;
  color: #f5f5f5f5;
  letter-spacing: 0.2px;
}

.nav-dropdown {
  margin-left: 1rem;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar-fixed {
  height: 100vh;
  width: 270px;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0.75rem;
}

.sidebar-fixed .list-group .active {
  border-radius: 5px;
}

.sidebar-fixed .list-group-item {
  padding: 1rem 1.25rem;
  margin-bottom: -1px;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
  color: #a5a5a5;
  border: 1px solid rgba(0, 0, 0, 0);
}

.sidebar-fixed .list-group-item .active {
  z-index: 2;
  color: #f95f5f !important;
  background-color: #F2EEF8 !important;
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  border-left: 6px solid #f95f5f !important;
}

.sidebar-fixed p.list-title {
  font-family: "Roboto", sans-serif !important;
  font-size: 11px !important;
  color: #a9a9a9 !important;
  font-weight: 500 !important;
  padding-bottom: 0 !important;
}

.sidebar-fixed .logo-wrapper {
  padding: 2.5rem;
}

.sidebar-fixed .logo-wrapper img {
  max-height: 50px;
}

@media (min-width: 1200px) {
  .page-footer, main {
    padding-left: 270px;
  }
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
.title-style {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #f5f5f5;
}

.flex-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 0;
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.card-style {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6.38599px 61.7312px rgba(196, 203, 214, 0.103611);
          box-shadow: 0px 6.38599px 61.7312px rgba(196, 203, 214, 0.103611);
  border-radius: 10px;
  padding: 0.75rem;
  min-height: 100%;
}

.card-style .title-card {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #f95f5f;
}

.card-style .title-card span {
  margin-left: 0.6rem;
  color: #292560;
}

.card-style .row-filter label {
  font-weight: 500;
}

.card-style .title-card-list {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #292560;
}

.card-style .title-card-list span {
  margin-left: 0.6rem;
  font-size: 1rem;
  color: #a5a5a5;
}

.card-style .title-card-list .errspan {
  float: right;
  margin-right: 6px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}

.card-style .drag-area {
  height: 260px;
  background-color: #f5f5f5;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-style .drag-area .icon {
  font-size: 70px;
  color: #bbbbbb;
}

.card-style .drag-area header {
  font-size: 16px;
  font-weight: 500;
  color: #bbbbbb;
}

.card-style .drag-area span {
  font-size: 14px;
  font-weight: 500;
  color: #bbbbbb;
  margin-top: 0;
}

.card-style .btn-upload {
  background-color: #f5f5f5;
  color: #a5a5a5;
  width: 90%;
  border-radius: 10px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.card-style .form-style p {
  font-family: "Poppins", sans-serif;
  color: #a5a5a5;
  font-size: 14px;
  margin-bottom: 10px;
}

.card-style .form-style p span {
  font-size: 12px;
  color: red;
}

.card-style .form-style .dropdown-phone {
  background-color: #fff !important;
  color: #495057 !important;
  border: 1px solid #ced4da !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.card-style .card-maps {
  border-radius: 10px !important;
  border-collapse: separate !important;
  overflow: hidden;
}

.card-style .card-maps .card-header {
  background-color: #ffe5a0;
  color: #fff;
  border: none !important;
}

.card-style .btn-submit {
  background-color: #f95f5f;
  color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 0.6rem 2rem;
}

.card-style .table-responsive input.largerCheckbox {
  width: 16px;
  height: 16px;
}

.card-style .table-responsive th {
  color: #a5a5a5;
}

.card-style .pageNumber {
  font-size: 14px !important;
}

.card-style .pageNumber label, .card-style .pageNumber span {
  color: #a5a5a5 !important;
  font-weight: 400;
}

.card-style .pagination .page-item .page-link {
  color: #000;
  font-weight: 600;
}

.card-style .pagination .page-item .page-link-prev {
  color: #a5a5a5 !important;
  font-weight: 500;
}

.card-style .pagination .page-item.active .page-link {
  color: #fff !important;
  background-color: #f95f5f !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.card-style .pagination .page-item.active .page-link:hover {
  background-color: #f95f5f !important;
}

/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-gradient(linear, left top, right top, from(#F95F5F), color-stop(#B16272), color-stop(#5F4162), to(#292560));
  background: linear-gradient(to right, #F95F5F, #B16272, #5F4162, #292560);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

@media (max-width: 991px) {
  .gradient-custom-2 {
    margin-left: 0.85em;
    margin-right: 0.85em;
  }
}
/*# sourceMappingURL=style.css.map */